/* ~~ Prediction tool-specific overrides to style.css for the prediction tool ~~ */

body {
  background-color: #ffffcc;
}

#prediction-img, #prediction-tool {
  text-align: center;
}

#prediction-form input {
	width: 24%;
}

form input#submit {
  width: 215px;
}