body {
  padding: 15px 15px 15px 15px;
  color: #333333;
  background-color: #f2f2f2;
  font-family: 'Verdana', sans-serif;
}

#page {
  margin-left: 10%;
  margin-right: 10%;
}

.block {
  padding: 10px 10px 10px 10px;
  background-color: #c0c6c1;
  border-radius: 10px;
}

.block-title {
  text-align: center;
}

.block-links {
  display: flex;
  justify-content: space-between;
}

.block-links a, a#home-link, a#contact, a#prediction-tool {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.block-links a:hover, a#home-link:hover, a#contact:hover, a#prediction-tool:hover {
  background-color: red;
}

.log-section {
  padding: 10px 10px 10px 10px;
  background-color: #e4e7e4;
  border-radius: 10px;
  overflow: hidden;
}

.log-section.alternate {
  background-color: #d7dbd7;
}

.log-section.scroll {
  overflow-x: scroll;
}

.left-right-wrapper {
  height: 100%;
}

.section-left {
  width: 49%;
  display: inline-block;
  float: left;
}

.section-right {
  height: 100%;
  width: 49%;
  display: inline-block;
  float: left;
}

table td, table th {
  padding: 5px 5px 5px 5px;
}

ol {
  margin-bottom: 0px;
}

.left-right-wrapper.form {
  height: 309px;
  background-color: #c0c6c1;
}

form {
  padding: 10px 10px 10px 10px;
  background-color: #c0c6c1;
}

form input, form textarea {
  width: 100%;
}

form textarea {
  height: 100px;
}

form input#submit {
  width: 100px;
}

img#photo {
  width: 50%;
  max-height: 100%;
  float: right;
}

img#css-proof {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 95%;
}

.js-comment {
  color: green;
  font-weight: bold;
  font-size: 1.2em;
}

.js-function {
  color: orange;
  font-style: italic;
  font-weight: bold;
}